@charset "utf-8";
body {
	margin:0;
	padding:0;
	background:#460000;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
}
#container {
	width:1000px;
	margin: 0 auto;
	background:#FFFFFF;
}
#header { background:#F7F7EF;  clear:both; height:94px; }
#header_logo { float:left; }
#header_logo h1 { 
	margin:0; 
	padding:20px 25px;
	text-indent:-9000px;
	background:url(../imagens/logo_guia_rio_sul.gif) no-repeat center center;
	width:258px;
	height:54px;
 }

#header_info { float:left; height:30px; line-height:30px; background:#B79C80;color:#FFFFFF; padding-left:30px; width:263px; }
#header_info a { color:#fff; }

#header_account { float:right; height:30px; line-height:30px; background:#530A1D;color:#FFFFFF; padding-left:30px; width:369px; }
#header_account ul { padding:0; margin:0; list-style:none; }
#header_account ul li { display:inline;  }
#header_account ul li a { margin:0 0 0 15px; text-decoration:none; color:#FFFFFF; }
#header_account ul li a:hover { text-decoration:underline; }

#first-menu { background:#FAF0E6; height:36px; color:#A4A5A6; }
#first-menu ul { padding:0; margin:0; list-style:none; }
#first-menu ul li { display:inline; line-height:36px; }
#first-menu ul li a { margin:0 7px 0 7px; text-decoration:none; color:#A4A5A6; padding:6px 7px 10px 7px; }
#first-menu ul li a:hover { text-decoration:underline; }
#first-menu .marcado { background:#fff; font-weight:bold; border-top:1px solid #F5F5F5; border-right:1px solid #E4E4E4; }
#first-menu a.marcado:hover { background:#F3F3F3; }

#second-menu { background:url(../imagens/menu_principal.gif) repeat-x; line-height:30px; height:30px;}
#second-menu ul { padding:0; margin:0; list-style:none; }
#second-menu ul li { display:inline; line-height:30px; }
#second-menu ul li a { margin:0 3px 0 3px; text-decoration:none; color:#3756A4; text-decoration:underline; padding:5px 3px 5px 3px; }
li.menu_personalizar { float:right; }
#second-menu ul li.menu_personalizar a { background:url(../imagens/icones/gear.png) no-repeat left center; padding-left:18px; }

#content { height:600px; background:#fff; }

#footer { background:#989898; clear:both;padding:5px; }
#footer ul { list-style:none; padding:0; margin:0; width:300px; float:left; margin-right:30px; }
#footer a { color:white; }